.ms-retro-img {
    opacity: 0;
}

.ms-retro-img:hover {
    opacity: 1;
}

.ms-tag-container {
    position: absolute;
    bottom: 30px;
    left: 0;
}

.ms-like-btn {
    position: absolute;
    top: 0;
    right: 15px;
}

.ms-like-btn:hover {
    color: red;
}