@use "../mixins/mixins.scss" as *;

footer {
    @include flex(row, space-between, center);
    background-color: #1a1a1a;
    padding: 40px 0;
    color: #ffffff;

    ul {
        display: flex;
        gap: 15px;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    div:first-child {
        margin-left: 20px;
    }

    div:last-child {
        margin-right: 20px;
    }
}