@use "../mixins/mixins.scss" as *;

footer {
    background-color: #1a1a1a;
    padding: 40px 0;
    color: #ffffff;

    .container{
        @include container(1180px);
        @include flex(row, space-between, center);

        ul {
            display: flex;
            gap: 15px;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }
}