@use "../mixins/mixins.scss" as *;
header{
    background-color: #ff6900;
    padding: 15px 0;
    color: #ffffff;
    .container{
        @include flex(row, space-between, center);
        @include container(1180px);
        ul{
            display: flex;
            gap: 15px;
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                a{
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }

        .logo{
            max-height: 40px;
            img{
                max-width: 100%;
            }
        }
    }
}